body {
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-family: Font;
    font-size: 20px;
    line-height: 1;
    max-width: 80%;
    text-align: center;
}

head {
    margin: auto;
    text-align: center;
}

code {
    background: #000000;
}
a {
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
a:hover {
    color: #c3edff;
}

@font-face {
  font-family: Font;
  src: url("./Fonts/VarelaRound-Regular.ttf");
}

div {
  font-family: Font;
}


    