body {
    margin: auto;
    background: #000000;
    color: #ffffff;
    font-family: Font;
    font-size: 20px;
    line-height: 1.5;
    max-width: 80%;
    text-align: center;
}

h1 {
    margin: 10px;
    text-align: center;
    padding: 10px;
}

code {
    background: #000000;
}

a {
    font-weight: bold;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}
a:hover {
    color: #c3edff;
}

@font-face {
  font-family: Font;
  src: url("./Fonts/Inconsolata-Regular.ttf");
}

div {
  font-family: Font;
}


    