body {
    margin: 2% auto; 
    background: #000000;
    color: #ffffff;
    font-family: Font;
    font-size: 20px;
    line-height: 2; 
    max-width: 80%;
}
code {
    background: #000000;
}
a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: inline-block;
}
a:hover {
    color: #c3edff;
}

@font-face {
  font-family: Font;
  src: url("./Fonts/VarelaRound-Regular.ttf");
}

div {
  font-family: Font;
}


    